body{
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}
.main{
    display: grid;
    grid-template-columns: 85vw;
    grid-template-rows: 5vh 20px auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.new-task-bar{
    grid-area: 1 / 1 / 2 / 2;
}

.new-task-bar > #task-description {
    width: 70%;
    height: 80%;
}

.tasks-container{
    grid-area: 3 / 1 / 4 / 2;
}

.task{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.task > p{
    height: 2.5em;
    width: 15em;
    overflow: auto;
}

.task > button {
    flex-grow: 0;
    border: none;
}

.task > button:hover{
    background-color: gainsboro;
}

.complete-task{
    background-color: green;
    width: 2em;
    height: 2em;
}

.delete-task{
    background-color: red;
    width: 2em;
    height: 2em;
}

.completed {
    text-decoration-line: line-through;
}

.description {
    border: none;
    resize: none;
}